<template>
    <div>
        <h2>list of products</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Value</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in products" :key="index">
                    <th scope="row">{{ index }}</th>
                    <td>
                        <input type="text" class="form-control" id="name" name="name" v-model="product.name" style="width: 150px" :disabled="product.disabled">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="quantity" name="quantity" v-model="product.quantity" style="width: 150px" :disabled="product.disabled">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="price" name="price" v-model="product.price" style="width: 150px" :disabled="product.disabled">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="value" name="value" v-model="product.value" style="width: 150px" :disabled="product.disabled">
                    </td>
                    <td><button @click="enableEditing(index)">edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Products",
        props: ['products'],
        data(){
            return {
                disabled: true
            }
        },
        mounted(){
            console.log(this.products)
        },
        methods: {
            enableEditing(index){
                console.log(index);
               let editing = this.products[index];
               editing.disabled = false;
                console.log(this.products)
            }
        }
    }
</script>

<style scoped>

</style>