<template>
    <div>
        <h2>Stock form</h2><br/>
        <form>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label for="Name">Product Name:</label>
                    <input type="text" class="form-control" id="name" name="name" v-model="product.name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" id="quantity" name="quantity" v-model="product.quantity">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price" name="price" v-model="product.price">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="form-group col-md-4">
                    <button class="btn btn-success" @click.prevent="createStock">Submit</button>
                </div>
            </div>
        </form>
        <products :products="products"></products>
    </div>
</template>

<script>
    import Products from './Products';

    export default {
        name: "Stockform",
        components: {Products},
        data () {
            return {
                product: {
                    name: null,
                    quantity: null,
                    price: null
                },
                products: []
            }
        },
        created() {
            axios.get('/products')
                .then(response => {
                    console.log(response)
                    this.products = response.data
                    this.disableEditing(this.products)
                })
                .catch( error => {

                })
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            createStock(){
                console.log(this.product);
                axios.post('/products', this.product)
                    .then( response => {
                        console.log(response)
                        this.product = {};
                        this.products = response.data;
                        this.disableEditing(this.products)
                    }).catch( error => {
                        console.log(error)
                })
            },
            disableEditing(products){
                products.map(function(product){
                    product.disabled = true
                    return product
                })
                console.log(products);
                return products
            }
        }
    }
</script>

<style scoped>

</style>